
<html>
<head>
	<link href="/style.css" ref='stylesheet' type='text/css'>
	<title>BOOOOOOOOOOOOOOOOOOOOOOOM!!!!</title>
</head>
<body>
<img src="http://i1080.photobucket.com/albums/j340/BiggsAndWedge/MushroomCloud.gif" width="640" height="480"></img>
<br/>
<a class="hidelink" href="/secret">ok you can click me</a>
</body>
</html>