<html>
	<head>
    	<title>Hello <%= session[:user]%></title>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
		$(function() {
			$('h1').click(function() {
				alert("I told you not to click me.")
				window.location="/bomb"
			})
		})
		</script>
	</head>
 	<body>
		<div class="box">
			Hello <%= session[:user]%>!
			<br/>
			<h1>Don't click me!!!!</h1>
			<br/>
			<a class="coollink" href="/search">Google search!</a>
			<br/>
			<a class="coollink" href="/logout">Log out</a>
		</div>
	</body>
</html>