<html>
  <head>
    <title>Welcome!!!1</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <% if @error %>
      <div class='error'><%= @error %></div>
    <% end %>

    <div class='specialbox'>
      <div class='title'>Hello and welcome...</div>
	  <br/>
	  <br/>
	  <a href="/login" style="font-size: 28px;" class="coollink">ENTER!!!!!11</a>
    </div> 
  </body>
</html>
