<html>
	<head>
    	<title>U R NOT WELCOME HERE</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
		$(function() {
			$('h1').click(function() {
				alert("I told you not to click me.")
				window.location="/bomb"
			})
		})
		</script>
	</head>
 	<body>
		<div class="bigbox">
			<iframe width="420" height="315" src="http://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&flip=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</body>
</html>