* {
  font-family: Papyrus;
}

body {
	background: url(/abstract-background-2.jpg);
}

.box {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  border: 10px solid #899194;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: black;
  padding: 40px 10px;;
  box-sizing: border-box;
  color: white;
}

.specialbox {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  border: 10px solid #899194;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: url('/computer-hd-wallpapers-7.jpg');
  padding: 40px 10px;;
  box-sizing: border-box;
  color: white;
}

.bigbox {
  width: 640px;
  height: 640px;
  margin: 100px auto;
  border: 10px solid #899194;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: black;
  padding: 40px 10px;;
  box-sizing: border-box;
  color: white;
}


.box .title {
  font-size: 24px;
  margin-bottom: 50px;
  color: white;
}

input {
    font-size: 24px;
    border: none;
    border-bottom: 1px dotted lightgrey;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: white;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}
.highlighted {
    background: yellow;
}

.bordered {
     border: 1px solid #2325ff;
}

.error {
  margin: 100px auto -120px auto;
  background: #ffdde2;
  color: #b23435;
  height: 60px;
  width: 400px;
  border: 10px solid #b23435;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5;
  box-sizing:border-box;
}

.coollink {
	text-decoration: none;
	color: grey;
}
.coollink:active {
	text-decoration: none;
	color: grey;
}
.coollink:hover {
	text-decoration: none;
	color: lightgrey;
}
.coollink:visited {
	text-decoration: none;
	color: grey;
}

.hidelink {
	text-decoration: none;
	color: black;
}
.hidelink:active {
	text-decoration: none;
	color: black;
}
.hidelink:hover {
	text-decoration: none;
	color: black;
}
.hidelink:visited {
	text-decoration: none;
	color: black;
}
